@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.container {
  display: flex;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  background-color: white;
  min-height: 80vh;
  position: absolute;
  width: 40%;
  height: 100vh;
  left: 0px;
  top: 0px;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.body h2 {
  position: absolute;
  padding: 50px;

  /* Headline/Headline4 */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  /* Text/Contrast */

  color: #ffffff;
}

.body h1 {
  position: relative;
  top: 30%;

  /* Headline/Headline1 */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height */

  /* Text/Contrast */

  color: #ffffff;
}

.body p {
  position: relative;
  top: 30%;

  /* Body/Paragraph */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #ffffff;
}

.part2 {
  width: 60%;
  height: 100vh;
  position: absolute;
  left: 40%;
}

.question {
  position: absolute;
  left: 50%;
  top: 50px;
  display: flex;
  /* border: 1px solid red; */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: right;

  color: #292d32;
}

.question p {
  padding-top: 20px;
  padding-right: 20px;
}

.sign_up {
  box-sizing: border-box;
  position: relative;
  /* Auto layout */

  background-color: white;

  border: 1px solid #cecfd1;
  border-radius: 4px;

  padding: 0 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;

  /* Text/Main */

  color: #292d32;
}

.form {
  position: absolute;
  left: 10%;
  top: 25%;
  font-family: "Ubuntu";
  font-style: normal;
  white-space: nowrap;
}

.welcome {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #292d32;
}

.continue_text {
  position: absolute;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #54585c;
}

.input {
  margin-top: 50px;
  position: absolute;
}

.input i {
  position: absolute;
  padding: 12px;
}

.form input {
  width: 25vw;
  padding: 10px;
  padding-left: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #292d32;
}

.input_password {
  margin-top: 100px;
  position: absolute;
}

.input_password i {
  position: absolute;
  padding: 12px;
}

.form input[type="checkbox"] {
  position: absolute;
  width: 24px;
  height: 24px;
}

.keep {
  position: absolute;
  top: 250px;
  display: flex;
}

.keepsign {
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #292d32;
}

.terms {
  position: absolute;
  top: 300px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* Text/Main */

  color: #292d32;
}

.terms span {
  color: #185aaa;
}

.button {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 350px;
}

.btn {
  padding: 15px 24px;
  gap: 10px;
  border: 0px;
  background: linear-gradient(282.25deg, #f4ab3e 0%, #f7c170 100%);
  border-radius: 4px;
}

.button p {
  position: relative;
  color: #185aaa;
  top: 17px;
  left: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.continue_with {
  position: absolute;
  top: 450px;
  display: flex;
}

.continue_with p {
  padding: 5px;
  padding-right: 10px;
}

.continue_with svg {
  margin-left: 10px;
}

.form hr {
  display: none;
}

@media (max-width: 1000px) {
  .question {
    left: 30%;
  }
}

@media (max-width: 600px) {
  .form {
    top: 10%;
  }

  .body {
    display: none;
  }

  .part2 {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .continue_text {
    position: relative;
  }

  .form input {
    width: 80vw;
  }

  .input i {
    position: absolute;
    top: 0;
    left: 0;
  }

  .input_password i {
    top: 0;
    left: 0;
  }

  .terms {
    margin-left: 5px;
  }

  .button {
    flex-direction: column;
  }

  .btn {
    position: relative;
    width: 80vw;
  }

  .button p {
    left: 0;
  }

  .form hr {
    position: absolute;
    top: 450px;
    width: 100%;
    border: 0px;
    color: rgb(135, 132, 132);
    height: 2px;
    display: block;
  }

  .continue_with {
    position: relative;
    top: 400px;
    /* text-align: center; */
    left: 30px;
  }

  .question {
    top: 90%;
    left: 50px;
  }

  .sign_up {
    border: 0px;
    padding: 0px;
    padding-top: 5px;
    color: #185aaa;
    background-color: transparent;
    font-weight: 700;
  }
}
